
header{
    margin-left: 250px;
    margin-top:50px;
    border : 1px solid #f9f1f1;
    height : 60px;
    width : 800px;
    background-color: #f3f3f7;
}

section{
    margin-left: 250px;
    margin-top:50px;
    border : 1px solid #f9f1f1;
    height : 80px;
    width : 800px;
    background-color: #f3f3f7;
}

.backgroundBlue{
    background-color:rgb(21 21 226 / 15%);
}

.backgroundGrey{
    background-color:#80808061;
}

.backgroundWhite{
    background-color: white;
}